.sheet-character-info {
  background-color: white;
  margin-bottom: 1rem;
  .sheet-column {
    border-left: 0.5rem solid $cpRed;
    border-right: 0.5rem solid $cpRed;
    padding: 1rem 1rem 0 !important;
    text-align: center;
    &:first-child {
      border-left-style: none;
    }
    &:last-child {
      border-right-style: none;
    }
  }
  h4 {
    margin: -1rem -1rem 1rem;
  }
  input[type='text'],
  select {
    width: 100%;
  }
}
