<div class="character-info">
  <div class="columns">
    <div class="column">
      <h4>Handle</h4>
      <input type="text" name="attr_charactername" />
    </div>
    <div class="column">
      <h4>Role</h4>
      <select name="attr_role">
        <% roles.forEach(function(role) { %>
        <option value="<%= role.name %>"><%= role.name %></option>
        <% }) %>
      </select>
    </div>
  </div>
</div>
