<rolltemplate class="sheet-rolltemplate-minimal">
  <div class="cpredroll">
    <h4>{{ charactername }}</h4>
    <table>
      <tbody>
        <tr>
          <th scope="row">{{ label }}</th>
          <td>{{ roll }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">{{ message }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</rolltemplate>
