.sheet-section-empathy {
  strong {
    background-color: $offWhite;
    border: 1px solid $text;
    border-radius: 0.25rem;
    box-sizing: border-box;
    display: inline-block;
    height: 28px;
    padding: 4px 1rem;
  }
}
