<div class="section-cash">
  <h4 class="clipped-corner">
    Cash
    <input type="number" name="attr_ip" value="0" style="width: 7.5rem" /><span
      class="pageref"
      >EB</span
    >
  </h4>
  <div class="field-wrapper center">
    <div style="min-height: 28px">
      Show cash log?
      <input type="checkbox" value="0" class="show-next-div" />
      <div style="text-align: left">
        <fieldset class="repeating_cash">
          <div class="columns">
            <div class="column column-3">
              <input
                type="text"
                name="attr_cashsource"
                placeholder="Notes..."
              />
            </div>
            <div class="column">
              <input type="number" name="attr_cashnumber" />
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
