<!-- Roll template: Death Save -->
<rolltemplate class="sheet-rolltemplate-deathsave">
  <div class="cpredroll">
    <h4>{{ charactername }}</h4>
    <table>
      <tbody>
        <tr>
          <th scope="row">Target</th>
          <td>Below {{ target }}</td>
        </tr>
        <tr>
          <th scope="row">Roll</th>
          <td>{{ roll }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">See full rules for Death Saves on p.188.</td>
        </tr>
      </tfoot>
    </table>
  </div>
</rolltemplate>
