<rolltemplate class="sheet-rolltemplate-deathsave">
  <div class="cpredroll">
    <h4>{{ charactername }}</h4>
    <h5>Death Save</h5>
    <table>
      <tbody>
        <tr>
          <th scope="row">Target</th>
          <td>Below {{ target }}</td>
        </tr>
        <tr>
          <th scope="row">Roll</th>
          <td>{{ roll }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="2">
            <strong
              >Add 1 to the roll for each Death Save made after the initial
              save.</strong
            >
            <br />See full rules for Death Saves on p.188.
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</rolltemplate>
