<div class="section-cyberware">
  <div class="columns">
    <div class="column">
      <div class="cyberware-group">
        <h4>Cyberaudio</h4>
        <fieldset class="repeating_cyberaudio">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="cyberware-group">
        <h4>Right Cybereye</h4>
        <fieldset class="repeating_cybereyeright">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="cyberware-group">
        <h4>Left Cybereye</h4>
        <fieldset class="repeating_cybereyeleft">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="cyberware-group">
        <h4>Right Cyberarm</h4>
        <fieldset class="repeating_cyberarmright">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="cyberware-group">
        <h4>Left Cyberarm</h4>
        <fieldset class="repeating_cyberarmleft">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="cyberware-group">
        <h4>Neural Link</h4>
        <fieldset class="repeating_cyberneurallink">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="cyberware-group">
        <h4>Right Cyberleg</h4>
        <fieldset class="repeating_cyberlegright">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="cyberware-group">
        <h4>Left Cyberleg</h4>
        <fieldset class="repeating_cyberlegleft">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="column">
      <div class="cyberware-group">
        <h4>Internal Cyberware</h4>
        <fieldset class="repeating_cyberinternal">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="cyberware-group">
        <h4>External Cyberware</h4>
        <fieldset class="repeating_cyberexternal">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="cyberware-group">
        <h4>Fashionware</h4>
        <fieldset class="repeating_cyberfashion">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="cyberware-group">
        <h4>Borgware</h4>
        <fieldset class="repeating_cyberborg">
          <div class="columns">
            <div class="column label">Name</div>
            <div class="column column-5">
              <input type="text" name="attr_cyberwarename" />
            </div>
          </div>
          <div class="columns">
            <div class="column label">Data</div>
            <div class="column column-5">
              <textarea name="attr_cyberwaredesc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
