<div class="section-gear">
  <div class="gear">
    <div class="gear-headers columns">
      <div class="column">
        <h4>Gear</h4>
      </div>
      <div class="column column-3">
        <h4>Notes</h4>
      </div>
    </div>
    <div class="gear-items">
      <fieldset class="repeating_gear">
        <div class="columns">
          <div class="column"><input type="text" name="attr_gear_name" /></div>
          <div class="column column-3">
            <textarea name="attr_gear_desc"></textarea>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="gear-meta">
    <div class="columns">
      <div class="column">
        <h4>Fashion</h4>
        <div class="gear-meta-wrapper">
          <textarea name="attr_fashion"></textarea>
        </div>
      </div>
      <div class="column">
        <h4>Housing</h4>
        <div class="gear-meta-wrapper">
          <textarea name="attr_housing"></textarea>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <h4>Rent</h4>
        <div class="gear-meta-wrapper">
          <input type="text" name="attr_rent" />
        </div>
      </div>
      <div class="column">
        <h4>Lifestyle</h4>
        <div class="gear-meta-wrapper">
          <input type="text" name="attr_lifestyle" />
        </div>
      </div>
    </div>
  </div>
</div>
