.sheet-section-gear {
  .sheet-gear-meta-wrapper {
    background-color: white;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem 0;
    input {
      width: 100%;
    }
  }
  .sheet-gear-toggle {
    color: white;
    margin-bottom: 1rem;
    text-align: center;
    .sheet-gear-toggle-pane {
      color: $text;
      text-align: left;
    }
    h4 {
      margin-top: 0.5rem;
    }
  }
  .sheet-gear {
    .sheet-columns.sheet-gear-headers {
      .sheet-column {
        padding: 0 !important;
      }
    }
    .repcontainer {
      .repitem {
        background-color: white;
        padding: 0.5rem 0.5rem 0;
        &:nth-child(even) {
          background-color: $offWhite;
        }
      }
    }
    .repcontrol {
      margin-bottom: 1rem;
      padding-top: 1rem;
    }
  }
  .sheet-gear-cyberdeck {
    .sheet-cyberdeck-wrapper {
      background-color: white;
      padding: 0.5rem 0.5rem 0;
    }
    h5 {
      border-top: 0.5rem solid $cpRed;
      font-size: 1.3rem;
      margin: 1rem -0.5rem;
      padding-top: 0.5rem;
      text-align: center;
      text-transform: uppercase;
    }
    .sheet-cyberdeck-actions {
      text-align: right;
    }
    .repcontainer {
      .repitem {
        margin: 0 -0.5rem;
        padding: 0.5rem;
        &:nth-child(odd) {
          background-color: $offWhite;
        }
      }
    }
  }
  .sheet-end-of-page {
    margin-bottom: 1rem;
  }
}
