<div class="section-gear">
  <div class="gear">
    <div class="gear-headers columns">
      <div class="column">
        <h4>Gear</h4>
      </div>
      <div class="column column-3">
        <h4>Notes</h4>
      </div>
    </div>
    <div class="gear-items">
      <fieldset class="repeating_gear">
        <div class="columns">
          <div class="column"><input type="text" name="attr_gear_name" /></div>
          <div class="column column-3">
            <textarea name="attr_gear_desc"></textarea>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="gear-cyberdeck gear-toggle">
    Show Cyberdeck?
    <input type="checkbox" name="attr_showcyberdeck" class="show-next-div" />
    <div class="gear-cyberdeck-pane gear-toggle-pane">
      <h4>Cyberdeck</h4>
      <div class="cyberdeck-wrapper">
        <div class="columns cyberdeck-main">
          <div class="column">
            <div>Name</div>
            <input type="text" name="attr_cyberdeck_name" />
          </div>
          <div class="column">
            <div>Type</div>
            <select name="attr_cyberdeck_type">
              <option value="poor">Poor Quality (5 slots)</option>
              <option value="standard">Standard Quality (7 slots)</option>
              <option value="excellent">Excellent Quality (9 slots)</option>
            </select>
          </div>
        </div>
        <h5>Programs and Hardware</h5>
        <div class="cyberdeck-slots" style="padding-bottom: 1rem">
          <fieldset class="repeating_cyberdeck">
            <div class="columns">
              <div class="column">
                Name
                <input type="text" name="attr_cyberdeck_program" />
              </div>
              <div class="column">
                Type
                <select name="attr_cyberdeck_class">
                  <option value="booster">Booster</option>
                  <option value="attack">Attack</option>
                  <option value="defender">Defender</option>
                </select>
              </div>
              <div class="column">
                ATK
                <input type="number" name="attr_cyberdeck_atk" />
              </div>
              <div class="column">
                DEF
                <input type="number" name="attr_cyberdeck_def" />
              </div>
              <div class="column">
                REZ
                <input type="number" name="attr_cyberdeck_rez" />
              </div>
              <div class="column column-3">
                Icon
                <input type="text" name="attr_cyberdeck_icon" />
              </div>
            </div>
            <div class="columns">
              <div class="column">
                Effect
                <textarea name="attr_cyberdeck_effect"></textarea>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="gear-vehicles gear-toggle">
    Show Vehicles?
    <input type="checkbox" name="attr_showvehicles" class="show-next-div" />
    <div class="gear-vehicle-pane gear-toggle-pane">
      <h4>Vehicles</h4>
      <div class="field-wrapper">
        <fieldset class="repeating_vehicles">
          <div class="columns">
            <div class="column">
              Vehicle
              <input type="text" name="attr_vehicle_name" style="width: 100%" />
            </div>
            <div class="column">
              SDP
              <input type="text" name="attr_vehicle_sdp" style="width: 100%" />
            </div>
            <div class="column">
              Seats
              <input
                type="number"
                name="attr_vehicle_seats"
                style="width: 100%"
              />
            </div>
            <div class="column">
              Speed (Move)
              <input
                type="number"
                name="attr_vehicle_speed"
                style="width: 100%"
              />
            </div>
            <div class="column">
              Speed (Narrative)
              <input
                type="text"
                name="attr_vehicle_narrative"
                style="width: 100%"
              />
            </div>
          </div>
          <div class="columns">
            <div class="column">
              Description/Notes
              <textarea name="attr_vehicle_desc"></textarea>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="gear-meta">
    <div class="columns">
      <div class="column">
        <h4>Fashion</h4>
        <div class="gear-meta-wrapper">
          <textarea name="attr_fashion"></textarea>
        </div>
      </div>
      <div class="column">
        <h4>Housing</h4>
        <div class="gear-meta-wrapper">
          <textarea name="attr_housing"></textarea>
        </div>
      </div>
    </div>
    <div class="columns end-of-page">
      <div class="column">
        <h4>Rent</h4>
        <div class="gear-meta-wrapper" style="padding-bottom: 0.5rem">
          <input type="text" name="attr_rent" />
        </div>
      </div>
      <div class="column">
        <h4>Lifestyle</h4>
        <div class="gear-meta-wrapper" style="padding-bottom: 0.5rem">
          <input type="text" name="attr_lifestyle" />
        </div>
      </div>
    </div>
  </div>
</div>
