.sheet-section-gear {
  .sheet-gear-meta-wrapper {
    background-color: white;
    margin-bottom: 1rem;
    padding: 0.5rem;
    input {
      width: 100%;
    }
  }
  .sheet-gear {
    .sheet-columns.sheet-gear-headers {
      .sheet-column {
        padding: 0 !important;
      }
    }
    .repcontainer {
      .repitem {
        background-color: white;
        padding: 0.5rem;
        &:nth-child(even) {
          background-color: $offWhite;
        }
      }
    }
    .repcontrol {
      margin-bottom: 1rem;
      padding-top: 1rem;
    }
  }
}
