<rolltemplate class="sheet-rolltemplate-roleability">
  <div class="cpredroll">
    <h4>{{ charactername }}</h4>
    <table>
      <tbody>
        <tr>
          <th scope="row">Role</th>
          <td>{{ rolename }}</td>
        </tr>
        <tr>
          <th scope="row">Role Ability</th>
          <td>{{ abilityname }}</td>
        </tr>
      </tbody>
      <tfoot>
        <!-- Roll -->
        <tr class="outcome">
          <th scope="row">Outcome</th>
          <td>{{ roll }}</td>
        </tr>
        <!-- CRIT Success -->
        {{#rollWasCrit() roll}}
        <tr class="crit">
          <th scope="row">Critical Success</th>
          <td>Add {{ critroll }} to roll</td>
        </tr>
        {{/rollWasCrit() roll}}
        <!-- CRIT Fail -->
        {{#rollWasFumble() roll}}
        <tr class="crit">
          <th scope="row">Critical Failure</th>
          <td>Subtract {{ critroll }} from roll</td>
        </tr>
        {{/rollWasFumble() roll}}
      </tfoot>
    </table>
  </div>
</rolltemplate>
