div.sheet-skill {
  clear: both;
  display: block;
  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
  }
  span.sheet-skill-indent-icon {
    float: left;
    line-height: 3rem;
    margin: 0 0.5rem;
  }
  input.sheet-skill-value {
    float: right;
    width: 5rem;
  }
  input.sheet-skill-name {
    max-width: 180px;
  }
}
.sheet-section-skills {
  h5 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  span.sheet-skill-meta {
    text-transform: uppercase;
  }
  .repcontainer {
    .sheet-skill {
      margin-bottom: 1rem;
    }
  }
}
.sheet-skills-list-grouped {
  columns: 2;
  column-gap: 1rem;
  & > div {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  .sheet-skill-group {
    background-color: white;
  }
  ul.sheet-list-plain {
    & > li {
      padding: 0.5rem;
    }
    li:nth-child(even) {
      background-color: $offWhite;
    }
  }
}
