<div class="section-hit-points">
  <input type="hidden" name="attr_deathsavehack" />
  <h4 class="clipped-corner">
    <!-- hidden fields for controlling the display of conditional elements. -->
    <input class="seriously-wounded" type="hidden" name="attr_damageserious" />
    <input class="death-save" type="hidden" name="attr_damagemortal" />
    <span class="seriously-wounded">!</span>
    Hit Points
    <button class="reset-hp" type="action" name="act_resethp">Reset</button>
    <button
      class="death-save button-plain"
      type="roll"
      value="&{template:deathsave}{{charactername=@{character_name}}}{{target=@{deathsave}}}{{roll=[[1d10cs<@{deathsavehack}cf10]]}}"
    >
      Death Save (<span name="attr_deathsave"></span>)
    </button>
  </h4>
  <div class="field-wrapper center">
    <input type="number" name="attr_hp" />
    of <span name="attr_hp_max"></span>
  </div>
</div>
<script type="text/worker">
  function updateHitPoints() {
    getAttrs(['stat_body', 'stat_will'], function (values) {
      var body = Number(values.stat_body);
      var will = Number(values.stat_will);
      var maxHp = ((Math.ceil((body + will) / 2)) * 5) + 10;
      var halfHp = Math.ceil(maxHp / 2);
      var deathSave = body;
      setAttrs({
        hp: maxHp,
        hp_max: maxHp,
        seriouslywounded: halfHp,
        deathsave: deathSave,
        deathsavehack: deathSave -  1
      });
    });
  }
  on('change:stat_body change:stat_will', function() {
    updateHitPoints();
  });
  /**
   * Automatically apply "seriously wounded" and "mortally wounded"
   * modifiers based on HP value.
   */
  function updateHpModifiers() {
    getAttrs(['hp', 'seriouslywounded'], function (values) {
      var hp = Number(values.hp);
      var threshold = Number(values.seriouslywounded);
      var damageserious = 0;
      var damagemortal = 0;
      if (hp < threshold) {
        damageserious = 'on'
      }
      if (hp < 1) {
        damagemortal = 'on'
      }
      setAttrs({
        damageserious: damageserious,
        damagemortal: damagemortal
      });
    });
  }
  on('change:hp', function() {
    updateHpModifiers();
  });
  /**
   * Unified button to reset HP
   */
  on('clicked:resethp', function() {
    updateHitPoints();
  });
</script>
