<div class="section-hit-points">
  <h3 class="accent-font">Hit Points</h3>
  <input type="number" name="attr_hp" />
  (of <span name="attr_hp_max"></span>)
  <div class="hit-points-meta">
    Seriously Wounded:
    <span class="hit-points-meta-value" name="attr_seriouslywounded"></span>
    | Death Save:
    <span class="hit-points-meta-value" name="attr_deathsave"></span>
  </div>
</div>
<script type="text/worker">
  function updateHitPoints() {
    getAttrs(['stat_body', 'stat_will'], function (values) {
      var body = Number(values.stat_body);
      var will = Number(values.stat_will);
      var maxHp = Math.floor(((body + will) / 2) * 5 + 10);
      var halfHp = Math.floor(maxHp / 2);
      var deathSave = Math.floor(body);
      setAttrs({
        hp: maxHp,
        hp_max: maxHp,
        seriouslywounded: halfHp,
        deathsave: deathSave
      });
    });
  }
  on('change:stat_body change:stat_will', function() {
    updateHitPoints();
  });
  /**
   * Automatically apply "seriously wounded" and "mortally wounded"
   * modifiers based on HP value.
   */
  function updateHpModifiers() {
    getAttrs(['hp', 'seriouslywounded'], function (values) {
      var hp = Number(values.hp);
      var threshold = Number(values.seriouslywounded);
      var damageserious = 0;
      var damagemortal = 0;
      if (hp < threshold) {
        damageserious = 'on'
      }
      if (hp < 1) {
        damagemortal = 'on'
      }
      setAttrs({
        damageserious: damageserious,
        damagemortal: damagemortal
      });
    });
  }
  on('change:hp', function() {
    updateHpModifiers();
  });
</script>
