<rolltemplate class="sheet-rolltemplate-attack">
  <div class="cpredroll">
    <h4>{{ charactername }}</h4>
    <table>
      <tbody>
        <tr>
          <th scope="row">Weapon</th>
          <td>{{ weapon }}</td>
        </tr>
        <!-- Special stuff -->
        {{#specialmodifier}}
        <tr>
          <th scope="row">{{ specialname }}</th>
          <td>{{ specialmodifier }}</td>
        </tr>
        {{/specialmodifier}}
        <!-- modifiers -->
        {{#finalmodifier}}
        <tr>
          <th scope="row">Modifiers</th>
          <td>{{ finalmodifier }}</td>
        </tr>
        {{/finalmodifier}}
      </tbody>
      <tfoot>
        <!-- Roll -->
        <tr class="outcome">
          <th scope="row">Outcome</th>
          <td>{{ roll }}</td>
        </tr>
        <!-- CRIT Success -->
        {{#rollWasCrit() roll}}
        <tr class="crit">
          <th scope="row">Critical Success</th>
          <td>Add {{ critroll }} to roll</td>
        </tr>
        {{/rollWasCrit() roll}}
        <!-- CRIT Fail -->
        {{#rollWasFumble() roll}}
        <tr class="crit">
          <th scope="row">Critical Failure</th>
          <td>Subtract {{ critroll }} from roll</td>
        </tr>
        {{/rollWasFumble() roll}}
        {{#specialrule}}
        <tr class="crit">
          <td colspan="2">{{ specialrule }}</td>
        </tr>
        {{/specialrule}}
      </tfoot>
    </table>
  </div>
</rolltemplate>
