<!-- Roll template: Combat - Attack -->
<rolltemplate class="sheet-rolltemplate-attack">
  <div class="{{ templatecolor }}">
    <div>(attack roll)</div>
    <div class="character">
      {{#charactername}}{{ charactername }}{{/charactername}}
    </div>
    <div class="header">{{#header}}{{ header }}{{/header}}</div>
    <div class="roll">{{ roll }}</div>
    {{#rollWasCrit() roll}}
    <div class="crit">
      CRITICAL SUCCESS! <br />
      Add {{ critroll }} to roll
    </div>
    {{/rollWasCrit() roll}} {{#rollWasFumble() roll}}
    <div class="fail">
      CRITICAL FAILURE! <br />
      Subtract {{ critroll }} from roll
    </div>
    {{/rollWasFumble() roll}} {{#footer}}
    <div class="footer">{{ footer }}</div>
    {{/footer}}
  </div>
</rolltemplate>
