<div class="cyberpunk-red">
  <!-- Character sheet parts... -->
  <div class="tabbed">
    <!-- tab controls -->
    <input type="radio" name="selecttab" value="1" class="tab tab1" checked />
    <span class="tab accent-font">Character</span>
    <input type="radio" name="selecttab" value="2" class="tab tab2" />
    <span class="tab accent-font">Skills</span>
    <input type="radio" name="selecttab" value="3" class="tab tab3" />
    <span class="tab accent-font">Combat</span>
    <input type="radio" name="selecttab" value="4" class="tab tab4" />
    <span class="tab accent-font">Gear</span>
    <input type="radio" name="selecttab" value="5" class="tab tab5" />
    <span class="tab accent-font">Cyberware</span>
    <input type="radio" name="selecttab" value="6" class="tab tab6" />
    <span class="tab accent-font">Lifepath</span>
    <input type="radio" name="selecttab" value="7" class="tab tab7" />
    <span class="tab accent-font">Settings</span>

    <div class="tab-content tab1">
      <div>
        <%=
        require('../components/character-info/character-info.ejs')(require('../components/role/json/role.json'))
        %>
      </div>
      <div>
        <%=
        require('../components/attributes/attributes.ejs')(require('../components/attributes/json/attributes.json'))
        %>
      </div>
      <div class="columns">
        <div class="column">
          <%= require('../components/empathy/empathy.ejs')() %>
        </div>
        <div class="column">
          <%= require('../components/humanity/humanity.ejs')() %>
        </div>
        <div class="column">
          <%= require('../components/luck/luck.ejs')() %>
        </div>
        <div class="column">
          <%= require('../components/hit-points/hit-points.ejs')() %>
        </div>
      </div>
      <div>
        <%=
        require('../components/role/role.ejs')(require('../components/role/json/role.json'))
        %>
      </div>
      <div><%= require('../components/dice-roller/dice-roller.ejs')() %></div>
    </div>
    <div class="tab-content tab2">
      <!-- modifiers controller component -->
      <%= require('../components/modifiers/modifiers.ejs')() %>
      <!-- skills component -->
      <%=
      require('../components/skills/skills.ejs')(require('../components/skills/json/skills.json'))
      %>
    </div>
    <div class="tab-content tab3">
      <!-- modifiers controller component -->
      <%= require('../components/modifiers/modifiers.ejs')() %>
      <!-- main combat component (weapons and attacks/damage) -->
      <%= require('../components/combat/combat.ejs')() %>
    </div>
    <div class="tab-content tab4">
      <%= require('../components/gear/gear.ejs')() %>
    </div>
    <div class="tab-content tab5">
      <%= require('../components/cyberware/cyberware.ejs')() %>
    </div>
    <div class="tab-content tab6">
      <%= require('../components/lifepath/lifepath.ejs')() %>
    </div>
    <div class="tab-content tab7">
      <%= require('../components/settings/settings.ejs')() %>
    </div>
  </div>

  <!-- Roll templates... -->
  <!-- attack rolls -->
  <%= require('../components/rolltemplates/attack/attack.ejs')() %>
  <!-- basic rolls -->
  <%= require('../components/rolltemplates/basic/basic.ejs')() %>
  <!-- damage rolls -->
  <%= require('../components/rolltemplates/damage/damage.ejs')() %>
  <!-- skill rolls -->
  <%= require('../components/rolltemplates/skill/skill.ejs')() %>

  <!-- %= require('../components/_foo/foo.ejs')(require('../components/_foo/json/foo--bar.json'))
    % -->
</div>
