.sheet-section-lifepath {
  .sheet-lp {
    display: none;
    margin-bottom: 1rem;
    .sheet-field-wrapper {
      padding: 0.5rem 0.5rem 0;
    }
  }
  input[value='Exec'] ~ .sheet-lp-exec,
  input[value='Fixer'] ~ .sheet-lp-fixer,
  input[value='Lawman'] ~ .sheet-lp-lawman,
  input[value='Media'] ~ .sheet-lp-media,
  input[value='Medtech'] ~ .sheet-lp-medtech,
  input[value='Netrunner'] ~ .sheet-lp-netrunner,
  input[value='Nomad'] ~ .sheet-lp-nomad,
  input[value='Rockerboy'] ~ .sheet-lp-rockerboy,
  input[value='Solo'] ~ .sheet-lp-solo,
  input[value='Tech'] ~ .sheet-lp-tech {
    display: block;
  }
  .sheet-lifepath-group {
    background-color: white;
    margin-bottom: 1rem;
    padding: 0.5rem 0.5rem 0;
    h4 {
      margin: -0.5rem -0.5rem 0.5rem;
    }
  }
  .repcontainer {
    margin-bottom: 0.5rem;
    .repitem {
      background-color: white;
      padding: 0.5rem 0.5rem 0;
      &:nth-child(even) {
        background-color: $offWhite;
      }
    }
  }
  .repcontrol {
    margin-bottom: 1rem;
    padding-top: 0.5rem;
  }
  .sheet-enemy-headers {
    background-color: $offWhite;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
  }
}
