<div class="section-lifepath">
  <div class="lifepath-role">
    <input type="hidden" name="attr_role" />
    <div class="lp lp-exec">
      <h4>Exec Lifepath</h4>
      <div class="field-wrapper"><textarea name="attr_lp_exec"></textarea></div>
    </div>
    <div class="lp lp-fixer">
      <h4>Fixer Lifepath</h4>
      <div class="field-wrapper">
        <textarea name="attr_lp_fixer"></textarea>
      </div>
    </div>
    <div class="lp lp-lawman">
      <h4>Lawman Lifepath</h4>
      <div class="field-wrapper">
        <textarea name="attr_lp_lawman"></textarea>
      </div>
    </div>
    <div class="lp lp-media">
      <h4>Media Lifepath</h4>
      <div class="field-wrapper">
        <textarea name="attr_lp_media"></textarea>
      </div>
    </div>
    <div class="lp lp-medtech">
      <h4>Medtech Lifepath</h4>
      <div class="field-wrapper">
        <textarea name="attr_lp_medtech"></textarea>
      </div>
    </div>
    <div class="lp lp-netrunner">
      <h4>Netrunner Lifepath</h4>
      <div class="field-wrapper">
        <textarea name="attr_lp_netrunner"></textarea>
      </div>
    </div>
    <div class="lp lp-nomad">
      <h4>Nomad Lifepath</h4>
      <div class="field-wrapper">
        <textarea name="attr_lp_nomad"></textarea>
      </div>
    </div>
    <div class="lp lp-rockerboy">
      <h4>Rockerboy Lifepath</h4>
      <div class="field-wrapper">
        <textarea name="attr_lp_rockerboy"></textarea>
      </div>
    </div>
    <div class="lp lp-solo">
      <h4>Solo Lifepath</h4>
      <div class="field-wrapper"><textarea name="attr_lp_solo"></textarea></div>
    </div>
    <div class="lp lp-tech">
      <h4>Tech Lifepath</h4>
      <div class="field-wrapper"><textarea name="attr_lp_tech"></textarea></div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="lifepath-group">
        <h4>Cultural Origins</h4>
        <textarea name="attr_lp_culture"></textarea>
      </div>
      <div class="lifepath-group">
        <h4>Clothing Style</h4>
        <textarea name="attr_lp_clothing"></textarea>
      </div>
      <div class="lifepath-group">
        <h4>What do you value most?</h4>
        <textarea name="attr_lp_whatdoyouvalue"></textarea>
      </div>
      <div class="lifepath-group">
        <h4>Most valued person</h4>
        <textarea name="attr_lp_mostvaluedperson"></textarea>
      </div>
      <div class="lifepath-group">
        <h4>Family Background</h4>
        <textarea name="attr_lp_familybackground"></textarea>
      </div>
      <div class="lifepath-group">
        <h4>Family Crisis</h4>
        <textarea name="attr_lp_familycrisis"></textarea>
      </div>
    </div>
    <div class="column">
      <div class="lifepath-group">
        <h4>Personality</h4>
        <textarea name="attr_lp_personality"></textarea>
      </div>
      <div class="lifepath-group">
        <h4>Hairstyle</h4>
        <textarea name="attr_lp_hairstyle"></textarea>
      </div>
      <div class="lifepath-group">
        <h4>Feelings about people</h4>
        <textarea name="attr_lp_feelingsaboutpeople"></textarea>
      </div>
      <div class="lifepath-group">
        <h4>Most valued possession</h4>
        <textarea name="attr_lp_mostvaluedpossession"></textarea>
      </div>
      <div class="lifepath-group">
        <h4>Childhood environment</h4>
        <textarea name="attr_lp_childhoodenv"></textarea>
      </div>
      <div class="lifepath-group">
        <h4>Life Goals</h4>
        <textarea name="attr_lp_lifegoals"></textarea>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <h4 class="accent-font">Friends</h4>
      <fieldset class="repeating_friends">
        <textarea name="attr_lp_friend"></textarea>
      </fieldset>
    </div>
    <div class="column">
      <h4 class="accent-font">Tragic Love Affairs</h4>
      <fieldset class="repeating_loveaffairs">
        <textarea name="attr_lp_loveaffair"></textarea>
      </fieldset>
    </div>
  </div>
  <div>
    <h4>Enemies</h4>
    <div class="columns enemy-headers">
      <div class="column">Who are they?</div>
      <div class="column">What caused it?</div>
      <div class="column">What can they throw at you?</div>
      <div class="column">What's gonna happen?</div>
    </div>
    <fieldset class="repeating_enemies">
      <div class="enemy">
        <div class="columns">
          <div class="column">
            <textarea name="attr_lp_enemywho"></textarea>
          </div>
          <div class="column">
            <textarea name="attr_lp_enemycause"></textarea>
          </div>
          <div class="column">
            <textarea name="attr_lp_enemythrow"></textarea>
          </div>
          <div class="column">
            <textarea name="attr_lp_enemyhappen"></textarea>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
