<div class="section-ip">
  <h4 class="clipped-corner">Improvement Points</h4>
  <div class="field-wrapper center">
    <input type="number" name="attr_ip" value="0" /> of
    <input type="number" name="attr_ip_max" value="0" />
  </div>
</div>
