<div class="section-luck">
  <h4 class="clipped-corner">
    Luck
    <button type="action" name="act_resetluck">Reset</button>
  </h4>
  <div class="field-wrapper center">
    <input type="number" name="attr_luck" />
    of <span name="attr_luck_max"></span>
  </div>
</div>
<script type="text/worker">
  function updateLuck() {
    getAttrs(['stat_luck'], function(values) {
      var luck = Number(values.stat_luck);
      setAttrs({
        luck: luck,
        luck_max: luck
      })
    });
  }
  on('change:stat_luck', function() {
    updateLuck();
  });
  /**
   * Reset luck pool button
   */
  on('clicked:resetluck', function () {
    updateLuck();
  });
</script>
