.sheet-section-combat {
  .sheet-weapon {
    padding: 1rem;
    .sheet-actions {
      text-align: right;
    }
  }
  input.sheet-autofiretoggle ~ button.sheet-autofirebutton {
    display: none;
  }
  input.sheet-autofiretoggle[value='on'] ~ button.sheet-autofirebutton {
    display: inline-block;
  }
  input.sheet-suppfiretoggle ~ button.sheet-suppfirebutton {
    display: none;
  }
  input.sheet-suppfiretoggle[value='on'] ~ button.sheet-suppfirebutton {
    display: inline-block;
  }
  .sheet-weapon-concealable {
    padding-top: 1rem;
  }
  .sheet-weapon-custommods {
    font-weight: bold;
    padding-top: 1rem;
    & > div {
      font-weight: normal;
    }
    input[type='number'] {
      width: 100%;
    }
    .sheet-columns {
      padding-top: 1rem;
    }
  }
  .sheet-combat-weapons,
  .sheet-combat-martialarts {
    .repcontainer {
      & > div {
        background-color: white;
        &:nth-child(even) {
          background-color: $offWhite;
        }
      }
    }
    .repcontrol {
      margin-bottom: 1rem;
      padding-top: 1rem;
    }
  }
  .sheet-initiative {
    margin-bottom: 1rem;
    .sheet-field-wrapper {
      text-align: center;
    }
    button {
      margin-left: 1rem;
    }
  }
  .sheet-combat-martialarts {
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
    .sheet-combat-martialarts-pane {
      border-top: 1rem solid $cpRed;
    }
    .sheet-columns {
      color: $text;
      margin: 1rem 0;
      text-align: left;
    }
    .sheet-martialart {
      padding: 1rem;
    }
    .sheet-actions {
      text-align: right;
    }
    .repcontrol {
      display: none !important;
    }
  }
  .sheet-armor {
    margin-bottom: 1rem;
    .sheet-column {
      padding: 0.5rem 0.5rem 0.5rem !important;
      text-align: center;
    }
    input[type='text'],
    input[type='number'] {
      width: 100%;
    }
    select {
      width: 5rem;
      margin-bottom: 0;
    }
    .sheet-columns.sheet-armor-headers {
      .sheet-column {
        padding: 0 !important;
      }
    }
    .sheet-armor-items {
      .sheet-columns {
        background-color: white;
        &:nth-child(even) {
          background-color: $offWhite;
        }
        .sheet-column:first-child {
          padding-top: 1rem !important;
        }
      }
    }
  }
  .sheet-ammo {
    input[type='text'],
    input[type='number'] {
      width: 100%;
    }
    .sheet-columns.sheet-ammo-headers {
      .sheet-column {
        padding: 0 !important;
      }
    }
    .sheet-ammo-items {
      .sheet-column {
        padding: 0.5rem !important;
      }
      .repcontainer {
        & > div {
          background-color: white;
          &:nth-child(even) {
            background-color: $offWhite;
          }
        }
      }
      .repcontrol {
        margin-bottom: 1rem;
        padding-top: 1rem;
      }
    }
  }
}
