<div class="section-combat">
  <div class="combat-weapons">
    <h4 class="accent-font">Weapons</h4>
    <fieldset class="repeating_weapons">
      <div class="weapon">
        <div class="columns">
          <div class="column">
            <div class="accent-font">Name</div>
            <input type="text" name="attr_weaponname" />
          </div>
          <div class="column">
            <div class="accent-font">Skill</div>
            <select name="attr_weaponskill">
              <optgroup label="Melee">
                <option value="brawling">Brawling</option>
                <option value="meleeweapon">Melee Weapon</option>
                <option value="martialarts">Martial Arts</option>
              </optgroup>
              <optgroup label="Ranged">
                <option value="archery">Archery</option>
                <option value="handgun">Handgun</option>
                <option value="heavyweapons">Heavy Weapons</option>
                <option value="shoulderarms">Shoulder Arms</option>
              </optgroup>
            </select>
          </div>
          <div class="column">
            <div class="accent-font">Damage</div>
            <select class="narrow" name="attr_weapondamage">
              <option value="1">1d6</option>
              <option value="2">2d6</option>
              <option value="3">3d6</option>
              <option value="4">4d6</option>
              <option value="5">5d6</option>
              <option value="6">6d6</option>
              <option value="7">7d6</option>
              <option value="8">8d6</option>
              <option value="9">9d6</option>
              <option value="10">10d6</option>
            </select>
          </div>
          <div class="column">
            <div class="accent-font">Magazine</div>
            <input class="narrow" type="text" name="attr_weaponmagazine" />
          </div>
          <div class="column">
            <div class="accent-font">
              <abbr title="Rate of Fire">RoF</abbr>
            </div>
            <select class="narrow" name="attr_weaponrof">
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="weapon-ammotype">
              <span class="accent-font">Ammo Type</span>
              <input type="text" name="attr_weaponammotype" />
            </div>
            <div class="weapon-concealable">
              <span class="accent-font">
                <input type="checkbox" name="attr_weaponconcealable" />
                Concealable
              </span>
            </div>
          </div>
          <div class="column column-3">
            <div class="accent-font">Notes</div>
            <textarea name="attr_weaponnotes" rows="3"></textarea>
          </div>
        </div>
        <div class="actions">
          <button
            type="roll"
            name="roll_1d10"
            value="&{template:attack}{{templatecolor=@{templatecolor}}} {{charactername=@{charactername}}} {{header=Attack: @{weaponname}}} {{roll=[[1d10]]}}"
          >
            Attack
          </button>
          <button
            type="roll"
            name="roll_1d10"
            value="&{template:attack}{{templatecolor=@{templatecolor}}} {{charactername=@{charactername}}} {{header=Attack: @{weaponname}}} {{roll=[[1d10]]}}"
          >
            Damage
          </button>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="columns">
    <div class="column">
      <div class="armor">
        <div class="columns armor-headers">
          <div class="column column-5"><h4>Armor</h4></div>
          <div class="column"><h4>SP</h4></div>
          <div class="column"><h4>(Max)</h4></div>
          <div class="column">
            <h4><div style="width: 5.5rem">Mod</div></h4>
          </div>
          <div class="column"><h4>Eq</h4></div>
        </div>
        <div class="armor-items">
          <div class="columns">
            <div class="column">Body</div>
            <div class="column column-4">
              <input type="text" name="attr_armorname" />
            </div>
            <div class="column"><input type="number" name="attr_armor" /></div>
            <div class="column">
              <input type="number" name="attr_armor_max" />
            </div>
            <div class="column">
              <select name="attr_armor_penalty">
                <option value="0">0</option>
                <option value="-2">-2</option>
                <option value="-4">-4</option>
              </select>
            </div>
            <div class="column">
              <input type="checkbox" name="attr_armor_equipped" />
            </div>
          </div>
          <div class="columns">
            <div class="column">Head</div>
            <div class="column column-4">
              <input type="text" name="attr_armorheadname" />
            </div>
            <div class="column">
              <input type="number" name="attr_armorhead" />
            </div>
            <div class="column">
              <input type="number" name="attr_armorhead_max" />
            </div>
            <div class="column">
              <select name="attr_armorhead_penalty">
                <option value="0">0</option>
                <option value="-2">-2</option>
                <option value="-4">-4</option>
              </select>
            </div>
            <div class="column">&nbsp;</div>
          </div>
          <div class="columns">
            <div class="column">Shield</div>
            <div class="column column-4">
              <input type="text" name="attr_armorshieldname" />
            </div>
            <div class="column">
              <input type="number" name="attr_armorshield" />
            </div>
            <div class="column">
              <input type="number" name="attr_armorshield_max" />
            </div>
            <div class="column">
              <select name="attr_armorshield_penalty">
                <option value="0">0</option>
                <option value="-2">-2</option>
                <option value="-4">-4</option>
              </select>
            </div>
            <div class="column">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ammo">
        <div class="columns ammo-headers">
          <div class="column column-5"><h4>Ammo</h4></div>
          <div class="column"><h4>Qty</h4></div>
        </div>
        <div class="ammo-items">
          <fieldset class="repeating_ammo">
            <div class="columns">
              <div class="column column-5">
                <input type="text" name="attr_ammoname" />
              </div>
              <div class="column">
                <input type="number" name="attr_ammoquantity" />
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
