.sheet-weapon {
  padding: 1rem;
  .sheet-actions {
    text-align: right;
  }
}
.sheet-combat-weapons {
  .repcontainer {
    & > div {
      background-color: white;
      &:nth-child(even) {
        background-color: $offWhite;
      }
    }
  }
  .repcontrol {
    padding-top: 1rem;
  }
}
