<div class="section-combat">
  <div class="combat-misc">
    <div class="columns">
      <div class="column">
        <h4>Evasion</h4>
        <div class="field-wrapper">
          Modifier
          <input type="number" value="0" name="attr_evasionmodifier" />
          <button
            type="roll"
            value="&{template:skill}{{charactername=@{character_name}}} {{skillname=Evasion}} {{skillvalue=@{skill_evasion}}} {{statname=REF}} {{statvalue=@{stat_ref}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{skill_evasion} + @{stat_ref} + @{armor_penalty} + @{finalmodifier} + @{evasionmodifier}]]}} {{critroll=[[1d10]]}}"
          >
            Evasion
          </button>
        </div>
      </div>
      <div class="column">
        <div class="initiative">
          <h4>Initiative</h4>
          <div class="field-wrapper">
            Modifier
            <input type="number" value="0" name="attr_initiativemodifier" />
            <button
              type="roll"
              value="&{template:initiative} {{charactername=@{character_name}}} {{roll=[[1d10+@{selected|stat_ref}+@{role_solo_initiativereaction}+@{initiativemodifier} &{tracker}]]}}"
            >
              Initiative
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="combat-weapons">
    <h4 class="accent-font">Weapons</h4>
    <fieldset class="repeating_weapons">
      <div class="weapon">
        <div class="columns">
          <div class="column">
            <div class="accent-font">Name</div>
            <input type="text" name="attr_weaponname" />
          </div>
          <div class="column">
            <div class="accent-font">Skill</div>
            <select name="attr_weaponskill">
              <optgroup label="Melee">
                <option value="@{skill_brawling}+@{stat_dex}">Brawling</option>
                <option value="@{skill_meleeweapon}+@{stat_dex}">
                  Melee Weapon
                </option>
              </optgroup>
              <optgroup label="Ranged">
                <option value="@{skill_archery}+@{stat_ref}">Archery</option>
                <option value="@{skill_handgun}+@{stat_ref}">Handgun</option>
                <option value="@{skill_heavyweapons}+@{stat_ref}">
                  Heavy Weapons
                </option>
                <option value="@{skill_shoulderarms}+@{stat_ref}">
                  Shoulder Arms
                </option>
              </optgroup>
              <optgroup label="Thrown">
                <option value="@{skill_athletics}+@{stat_dex}">
                  Thrown (Athletics)
                </option>
              </optgroup>
            </select>
          </div>
          <div class="column">
            <div class="accent-font">Damage</div>
            <select class="narrow" name="attr_weapondamage">
              <option value="1">1d6</option>
              <option value="2">2d6</option>
              <option value="3">3d6</option>
              <option value="4">4d6</option>
              <option value="5">5d6</option>
              <option value="6">6d6</option>
              <option value="7">7d6</option>
              <option value="8">8d6</option>
              <option value="9">9d6</option>
              <option value="10">10d6</option>
            </select>
          </div>
          <div class="column">
            <div class="accent-font">Magazine</div>
            <input class="narrow" type="text" name="attr_weaponmagazine" />
          </div>
          <div class="column">
            <div class="accent-font">
              <abbr title="Rate of Fire">RoF</abbr>
            </div>
            <select class="narrow" name="attr_weaponrof">
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="weapon-ammotype">
              <span class="accent-font">Ammo Type</span>
              <input type="text" name="attr_weaponammotype" />
            </div>
            <div class="weapon-custommods">
              <div>
                <input
                  name="attr_weaponshowmodifiers"
                  type="checkbox"
                  class="show-next-div"
                />
                Custom Modifiers
                <div>
                  <div class="columns">
                    <div class="column">
                      <div class="accent-font">Attack Modifier</div>
                      <input
                        type="number"
                        name="attr_weaponmodifier"
                        value="0"
                      />
                    </div>
                    <div class="column">
                      <div class="accent-font">Damage Modifier</div>
                      <input
                        type="number"
                        name="attr_weapondamagemod"
                        class="narrow"
                        value="0"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column column-3" style="margin-bottom: 1rem">
            <div class="accent-font">Notes</div>
            <textarea name="attr_weaponnotes" rows="3"></textarea>
            <div class="columns">
              <div class="column">
                <input type="checkbox" name="attr_weaponconcealable" />
                Concealable
              </div>
              <div class="column">
                <input type="checkbox" name="attr_weaponautofire" />
                Autofire
              </div>
              <div class="column">
                <input type="checkbox" name="attr_weaponsuppress" />
                Suppressing Fire
              </div>
            </div>
          </div>
        </div>
        <div class="actions">
          <input
            class="autofiretoggle"
            type="hidden"
            name="attr_weaponautofire"
          />
          <button
            class="autofirebutton"
            type="roll"
            name="roll_autofire"
            value="&{template:attack}{{charactername=@{character_name}}}{{weapon=@{weaponname} (Autofire)}}{{specialrule=See full Autofire rules on p.173}}{{roll=[[1d10+@{skill_autofire}+@{stat_ref}+@{armor_penalty}+@{weaponmodifier}+@{finalmodifier}]]}}{{critroll=[[1d10]]}}"
          >
            Autofire
          </button>
          <input
            class="suppfiretoggle"
            type="hidden"
            name="attr_weaponsuppress"
          />
          <button
            class="suppfirebutton"
            type="roll"
            name="roll_suppfire"
            value="&{template:attack}{{charactername=@{character_name}}}{{weapon=@{weaponname} (Suppressing Fire)}}{{specialrule=Opponents need to make a Concentration check. (See p.174)}}{{roll=[[1d10+@{skill_autofire}+@{stat_ref}+@{armor_penalty}+@{weaponmodifier}+@{finalmodifier}]]}}{{critroll=[[1d10]]}}"
          >
            Suppressing Fire
          </button>
          <button
            type="roll"
            name="roll_attack"
            value="&{template:attack}{{charactername=@{character_name}}}{{weapon=@{weaponname}}}{{roll=[[1d10+@{weaponskill}+@{armor_penalty}+@{weaponmodifier}+@{finalmodifier}]]}}{{critroll=[[1d10]]}}"
          >
            Attack
          </button>
          <button
            type="roll"
            name="roll_damage"
            value="&{template:damage}{{charactername=@{character_name}}}{{weaponname=@{weaponname}}}{{weapondamage=@{weapondamage}d6+@{weapondamagemod}}}{{roll=[[@{weapondamage}d6s+@{weapondamagemod}]]}}"
          >
            Damage
          </button>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="combat-martialarts">
    Show Martial Arts Attacks
    <input type="checkbox" class="show-next-div" name="attr_showmartialarts" />
    <div class="combat-martialarts-pane">
      <h4 class="accent-font">
        Martial Arts <small>(DEX <span name="attr_stat_dex"></span>)</small>
      </h4>
      <fieldset class="repeating_martialarts">
        <div class="martialart">
          <div class="columns">
            <div class="column">
              <!--
              Roll20 won't allow us to just read values from the shared 
              repeating fieldset in roll templates, there needs to be an
              input field to actually give us a readable value to include.
              -->
              <div style="display: none">
                <input type="text" name="attr_skillname" />
                <input type="number" name="attr_skillvalue" />
              </div>
              <strong><span name="attr_skillname"></span></strong>
              (Skill <span name="attr_skillvalue"></span>)
            </div>
            <div class="column">
              Hit Modifier
              <input type="number" name="attr_mamodifier" min="0" />
            </div>
            <div class="column">
              Damage
              <select class="narrow" name="attr_madamage">
                <option value="1">1d6</option>
                <option value="2">2d6</option>
                <option value="3">3d6</option>
                <option value="4">4d6</option>
                <option value="5">5d6</option>
                <option value="6">6d6</option>
                <option value="7">7d6</option>
                <option value="8">8d6</option>
                <option value="9">9d6</option>
                <option value="10">10d6</option>
              </select>
            </div>
            <div class="column">
              Damage Modifier
              <input type="number" name="attr_madamagemod" />
            </div>
          </div>
          <div class="columns">
            <div class="column">Description</div>
            <div class="column column-3">
              <textarea name="attr_martialartsdesc"></textarea>
            </div>
          </div>
          <div class="actions">
            <button
              type="roll"
              name="roll_attack"
              value="&{template:attack}{{charactername=@{character_name}}}{{weapon=Martial Arts: @{skillname}}}{{roll=[[1d10+@{skillvalue}+@{stat_dex}+@{armor_penalty}+@{mamodifier}+@{finalmodifier}]]}}{{critroll=[[1d10]]}}"
            >
              Attack
            </button>
            <button
              type="roll"
              name="roll_damage"
              value="&{template:damage}{{charactername=@{character_name}}}{{weaponname=Martial Arts: @{skillname}}}{{weapondamage=@{madamage}d6+@{madamagemod}}}{{roll=[[@{madamage}d6s+@{madamagemod}]]}}"
            >
              Damage
            </button>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="armor">
        <div class="columns armor-headers">
          <div class="column column-5"><h4>Armor</h4></div>
          <div class="column"><h4>SP</h4></div>
          <div class="column"><h4>(Max)</h4></div>
          <div class="column">
            <h4><div style="width: 5.5rem">Mod</div></h4>
          </div>
        </div>
        <div class="armor-items">
          <div class="columns">
            <div class="column">Body</div>
            <div class="column column-4">
              <input type="text" name="attr_armorname" />
            </div>
            <div class="column"><input type="number" name="attr_armor" /></div>
            <div class="column">
              <input type="number" name="attr_armor_max" />
            </div>
            <div class="column">
              <select name="attr_armor_penalty">
                <option value="0">0</option>
                <option value="-2">-2</option>
                <option value="-4">-4</option>
              </select>
            </div>
          </div>
          <div class="columns">
            <div class="column">Head</div>
            <div class="column column-4">
              <input type="text" name="attr_armorheadname" />
            </div>
            <div class="column">
              <input type="number" name="attr_armorhead" />
            </div>
            <div class="column">
              <input type="number" name="attr_armorhead_max" />
            </div>
            <div class="column">&nbsp;</div>
          </div>
          <div class="columns">
            <div class="column">Shield</div>
            <div class="column column-4">
              <input type="text" name="attr_armorshieldname" />
            </div>
            <div class="column">
              <input type="number" name="attr_armorshield" />
            </div>
            <div class="column">
              <input type="number" name="attr_armorshield_max" />
            </div>
            <div class="column">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="ammo">
        <div class="columns ammo-headers">
          <div class="column column-5"><h4>Ammo</h4></div>
          <div class="column"><h4>Qty</h4></div>
        </div>
        <div class="ammo-items">
          <fieldset class="repeating_ammo">
            <div class="columns">
              <div class="column column-5">
                <input type="text" name="attr_ammoname" />
              </div>
              <div class="column">
                <input type="number" name="attr_ammoquantity" />
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
