<div class="section-role">
  <input type="hidden" name="attr_role" />
  <div class="role-pane role-exec">
    <h4>Exec</h4>
    Teamwork
    <input type="number" name="attr_role_exec" />
  </div>
  <div class="role-pane role-fixer">
    <h4>Fixer</h4>
    Operator
    <input type="number" name="attr_role_fixer" />
  </div>
  <div class="role-pane role-lawman">
    <h4>Lawman</h4>
    Backup
    <input type="number" name="attr_role_lawman" />
  </div>
  <div class="role-pane role-media">
    <h4>Media</h4>
    Credibility
    <input type="number" name="attr_role_media" />
  </div>
  <div class="role-pane role-medtech">
    <h4>Medtech</h4>
    Medicine
    <input type="number" name="attr_role_medtech" />
    <hr />
    <div class="columns">
      <div class="column">
        Surgery<input type="number" name="attr_role_medtech_surgery" />
      </div>
      <div class="column">
        Pharmaceuticals<input
          type="number"
          name="attr_role_medtech_pharmaceuticals"
        />
      </div>
      <div class="column">
        Cryosystem Operation<input
          type="number"
          name="attr_role_medtech_cryosystem"
        />
      </div>
    </div>
  </div>
  <div class="role-pane role-netrunner">
    <h4>Netrunner</h4>
    <div>
      <button type="roll">Interface</button>
      <input type="number" name="attr_role_netrunner" />
    </div>
  </div>
  <div class="role-pane role-nomad">
    <h4>Nomad</h4>
    <div>
      <button type="roll">Moto</button>
      <input type="number" name="attr_role_nomad" />
    </div>
  </div>
  <div class="role-pane role-rockerboy">
    <h4>Rockerboy</h4>
    <div>
      <button type="roll">Charismatic Impact</button>
      <input type="number" name="attr_role_rocker" />
    </div>
  </div>
  <div class="role-pane role-solo">
    <h4>Solo</h4>
    <div>
      Combat Awareness
      <input type="number" name="attr_role_solo" />
    </div>
    <div class="columns">
      <div class="column">
        Damage Deflection<input
          type="number"
          name="attr_role_solo_damagedeflection"
        />
      </div>
      <div class="column">
        Fumble Recovery<input
          type="number"
          name="attr_role_solo_fumblerecovery"
        />
      </div>
      <div class="column">
        Initiative Reaction<input
          type="number"
          name="attr_role_solo_initiativereaction"
        />
      </div>
      <div class="column">
        Precision Attack<input
          type="number"
          name="attr_role_solo_precisionattack"
        />
      </div>
      <div class="column">
        Spot Weakness<input type="number" name="attr_role_solo_spotweakness" />
      </div>
      <div class="column">
        Threat Detection<input
          type="number"
          name="attr_role_solo_threatdetection"
        />
      </div>
    </div>
  </div>
  <div class="role-pane role-tech">
    <h4>Tech</h4>
    <div>
      <button type="roll">Maker</button>
      <input type="number" name="attr_role_tech" />
    </div>
    <div class="columns">
      <div class="column">
        <button type="roll">Field Expertise</button>
        <input type="number" name="attr_role_tech_field" />
        <select name="attr_role_tech_field_skill">
          <option value="skill_airevehicletech">Air Vehicle Tech</option>
          <option value="skill_basictech">Basic Tech</option>
          <option value="skill_cybertech">Cybertech</option>
          <option value="skill_electronicssecurity">
            Electronics/Security Tech
          </option>
          <option value="skill_landvehicletech">Land Vehicle Tech</option>
          <option value="skill_seavehicletech">Sea Vehicle Tech</option>
          <option value="skill_weaponstech">Weaponstech</option>
        </select>
      </div>
      <div class="column">
        <button type="roll">Upgrade Expertise</button>
        <input type="number" name="attr_role_tech_upgrade" />
        <select name="attr_role_tech_upgrade_skill">
          <option value="skill_airevehicletech">Air Vehicle Tech</option>
          <option value="skill_basictech">Basic Tech</option>
          <option value="skill_cybertech">Cybertech</option>
          <option value="skill_electronicssecurity">
            Electronics/Security Tech
          </option>
          <option value="skill_landvehicletech">Land Vehicle Tech</option>
          <option value="skill_seavehicletech">Sea Vehicle Tech</option>
          <option value="skill_weaponstech">Weaponstech</option>
        </select>
      </div>
      <div class="column">
        <button type="roll">Fabrication Expertise</button>
        <input type="number" name="attr_role_tech_fabrication" />
        <select name="attr_role_tech_fabrication_skill">
          <option value="skill_airevehicletech">Air Vehicle Tech</option>
          <option value="skill_basictech">Basic Tech</option>
          <option value="skill_cybertech">Cybertech</option>
          <option value="skill_electronicssecurity">
            Electronics/Security Tech
          </option>
          <option value="skill_landvehicletech">Land Vehicle Tech</option>
          <option value="skill_seavehicletech">Sea Vehicle Tech</option>
          <option value="skill_weaponstech">Weaponstech</option>
        </select>
      </div>
      <div class="column">
        <button type="roll">Invention Expertise</button>
        <input type="number" name="attr_role_tech_invention" />
        <select name="attr_role_tech_invention_skill">
          <option value="skill_airevehicletech">Air Vehicle Tech</option>
          <option value="skill_basictech">Basic Tech</option>
          <option value="skill_cybertech">Cybertech</option>
          <option value="skill_electronicssecurity">
            Electronics/Security Tech
          </option>
          <option value="skill_landvehicletech">Land Vehicle Tech</option>
          <option value="skill_seavehicletech">Sea Vehicle Tech</option>
          <option value="skill_weaponstech">Weaponstech</option>
        </select>
      </div>
    </div>
  </div>
</div>
