<div class="section-role" style="padding:50px;">
  <h3 class="accent-font">Exact code taken from Kitchensink.</h3>
  <fieldset class="repeating_kitchensinks">
    <select name="attr_dtype" class="dtype">
      <option value="d4">d4</option>
      <option value="d6">d6</option>
      <option value="d8">d8</option>
      <option value="d10">d10</option>
      <option value="d12">d12</option>
    </select>
    <input type="text" name="attr_skillname" />
  </fieldset>
</div>
