.sheet-section-role {
  margin-bottom: 1rem;
  .sheet-role-pane {
    display: none;
    background-color: #fff;
    padding: 1rem;
    h4 {
      margin: -1rem -1rem 1rem;
    }
    &.sheet-role-blank {
      text-align: center;
    }
  }
  // input[value='Blank'] ~ .sheet-role-blank,
  input[value='Exec'] ~ .sheet-role-exec,
  input[value='Fixer'] ~ .sheet-role-fixer,
  input[value='Lawman'] ~ .sheet-role-lawman,
  input[value='Media'] ~ .sheet-role-media,
  input[value='Medtech'] ~ .sheet-role-medtech,
  input[value='Netrunner'] ~ .sheet-role-netrunner,
  input[value='Nomad'] ~ .sheet-role-nomad,
  input[value='Rockerboy'] ~ .sheet-role-rockerboy,
  input[value='Solo'] ~ .sheet-role-solo,
  input[value='Tech'] ~ .sheet-role-tech {
    display: block;
  }
  .sheet-role-ability {
    padding-bottom: 1rem;
    text-align: center;
  }
  button.sheet-role-button {
    font-size: 1.3rem !important;
  }
  .sheet-rulebook-reference {
    padding: 1rem 0 0;
    font-size: 12px;
    text-align: center;
  }
  .sheet-subdivider {
    border-top: 0.5rem solid $cpRed;
    margin: 0 -1rem;
    padding: 1rem 1rem 0;
    & > div.sheet-columns:nth-child(even) {
      background-color: $offWhite;
      margin: 0 -1rem -1rem;
      padding: 1rem 1rem 0;
    }
  }
  .sheet-role-fixer {
    input[type='text'],
    textarea {
      margin-bottom: 0 !important;
      width: 100%;
    }
    .repcontainer {
      .repitem {
        padding: 0.5rem;
        &:nth-child(odd) {
          background-color: $offWhite;
        }
      }
    }
    .repcontrol {
      padding-top: 0.5rem;
    }
  }
}
