<div class="section-role">
  <input type="hidden" name="attr_role" />
  <div class="role-pane role-exec">
    <h4 class="clipped-corner">Exec</h4>
    <div class="role-ability">
      Exec role ability: Teamwork
      <input type="number" name="attr_role_exec" value="0" min="0" />
      <div class="rulebook-reference">See full rules on p.153-157</div>
    </div>
    <div class="subdivider">
      <h5>TEAM MEMBERS</h5>
      <fieldset class="repeating_teammembers">
        <div class="columns">
          <div class="column column-2">
            <input type="text" name="attr_execteamname" style="width: 100%" />
          </div>
          <div class="column column-2">
            <select name="attr_execteamrole" style="width: 100%">
              <option value="Bodyguard">Bodyguard</option>
              <option value="Covert Operative">Covert Operative</option>
              <option value="Driver">Driver</option>
              <option value="Netrunner">Netrunner</option>
              <option value="Technician">Technician</option>
            </select>
          </div>
          <div class="column">
            Loyalty <input type="number" name="attr_execteamloyalty" />
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="role-pane role-fixer">
    <h4 class="clipped-corner">Fixer</h4>
    <div class="role-ability">
      Fixer role ability: Operator
      <input type="number" name="attr_role_fixer" value="0" min="0" />
      <div class="rulebook-reference">See full rules on p.159-161</div>
    </div>
    <div class="subdivider">
      <div class="columns">
        <div class="column column-4">
          <div class="fixer-grease">
            <h5>GREASE</h5>
            <fieldset class="repeating_fixergrease">
              <input
                type="text"
                name="attr_fixergrease"
                placeholder="Group or culture"
              />
            </fieldset>
          </div>
        </div>
        <div class="column column-4">
          <div class="fixer-contacts">
            <h5>CONTACTS</h5>
            <fieldset class="repeating_fixercontacts">
              <textarea name="attr_fixercontact"></textarea>
            </fieldset>
          </div>
        </div>
        <div class="column column-2 center">
          <button
            type="roll"
            class="role-button"
            value="&{template:roleability}{{charactername=@{character_name}}} {{rolename=Fixer}} {{abilityname=Haggle}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_fixer} + @{stat_cool} + @{skill_trading} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
          >
            Haggle
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="role-pane role-lawman">
    <h4 class="clipped-corner">Lawman</h4>
    <div class="role-ability">
      Lawman role ability: Backup
      <input type="number" name="attr_role_lawman" value="0" min="0" />
      <div class="rulebook-reference">See full rules on p.158-159</div>
    </div>
    <div class="subdivider">
      <div class="columns">
        <div class="column center">
          <div style="margin-bottom: 1rem">
            <button
              class="role-button"
              type="roll"
              value="&{template:minimal}{{charactername=@{character_name}}}{{label=Backup}}{{message=Roll must be less than or equal to Backup score (@{role_lawman}).}}{{roll=[[1d10cs<@{role_lawman}cf15]]}}"
            >
              Call backup
            </button>
          </div>
          <div>
            <button
              class="role-button"
              type="roll"
              value="&{template:minimal}{{charactername=@{character_name}}}{{label=Backup arrival time}}{{message=Check p.158 for special outcome on a roll of 6.}}{{roll=[[1d6cs6cf0]]}}"
            >
              Arrival time
            </button>
          </div>
        </div>
        <div class="column column-4">
          <h5>BACKUP</h5>
          <fieldset class="repeating_backup">
            <div class="lawman-backup">
              <div class="columns">
                <div class="column column-2">
                  <button
                    class="role-button"
                    type="roll"
                    value="&{template:attack}{{charactername=@{character_name}}}{{weapon=Backup}}{{roll=[[1d10+@{role_lawmanbackupcn}]]}}{{critroll=[[1d10]]}}"
                  >
                    Combat Number
                  </button>
                  <input type="number" name="attr_role_lawmanbackupcn" />
                </div>
                <div class="column column-2">
                  Armor SP
                  <input type="number" name="attr_role_lawmanbackupsp" />
                </div>
                <div class="column column-2">
                  HP
                  <input type="number" name="attr_role_lawmanbackuphp" />
                  of
                  <input type="number" name="attr_role_lawmanbackuphp_max" />
                </div>
              </div>
              <div class="columns">
                <div class="column column-2">
                  Move/Body
                  <input type="number" name="attr_role_lawmanbackupbody" />
                </div>
                <div class="column column-4">
                  <input
                    type="text"
                    name="attr_role_lawmanbackupdesc"
                    style="width: 100%"
                    placeholder="Description"
                  />
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
  <div class="role-pane role-media">
    <h4 class="clipped-corner">Media</h4>
    <div class="role-ability">
      Media role ability: Credibility
      <input type="number" name="attr_role_media" value="0" min="0" />
      <div style="padding-top: 1rem">
        <button
          type="roll"
          class="role-button"
          value="&{template:roleability}{{charactername=@{character_name}}} {{rolename=Media}} {{abilityname=Rumors (Passive)}} {{roll=[[1d10 + @{role_media}]]}} {{critroll=[[1d10]]}}"
        >
          Rumors (Passive)
        </button>
      </div>
      <div class="rulebook-reference">See full rules on p.151-153</div>
    </div>
  </div>
  <div class="role-pane role-medtech">
    <h4 class="clipped-corner">Medtech</h4>
    <div class="role-ability">
      Medtech role ability: Medicine
      <input type="number" name="attr_role_medtech" value="0" min="0" />
      <div class="rulebook-reference">
        (Track Surgery as the full skill rating, not as the number of upgrades
        applied)<br />
        See full rules on p.149-150
      </div>
    </div>
    <div class="subdivider">
      <div class="columns">
        <div class="column center">
          <button
            type="roll"
            class="role-button"
            value="&{template:skill}{{charactername=@{character_name}}} {{skillname=Medicine: Surgery}} {{skillvalue=@{role_medtech_surgery}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_medtech_surgery} + @{stat_tech} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
          >
            Surgery
          </button>
          <input
            type="number"
            name="attr_role_medtech_surgery"
            value="0"
            min="0"
          />
        </div>
        <div class="column center">
          <button
            type="roll"
            class="role-button"
            value="&{template:skill}{{charactername=@{character_name}}} {{skillname=Medicine: Pharmaceuticals}} {{skillvalue=@{role_medtech_pharmaceuticals}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_medtech_pharmaceuticals} + @{stat_tech} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
          >
            Pharmaceuticals
          </button>
          <input
            type="number"
            name="attr_role_medtech_pharmaceuticals"
            value="0"
            min="0"
          />
        </div>
        <div class="column center">
          <button
            type="roll"
            class="role-button"
            value="&{template:skill}{{charactername=@{character_name}}} {{skillname=Medicine: Cryosystems}} {{skillvalue=@{role_medtech_cryosystem}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_medtech_cryosystem} + @{stat_tech} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
          >
            Cryosystem Operation
          </button>
          <input
            type="number"
            name="attr_role_medtech_cryosystem"
            value="0"
            min="0"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="role-pane role-netrunner">
    <h4 class="clipped-corner">Netrunner</h4>
    <div class="role-ability">
      Netrunner role ability:
      <button
        class="role-button"
        type="roll"
        value="&{template:roleability}{{charactername=@{character_name}}} {{rolename=Netrunner}} {{abilityname=Interface}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_netrunner} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
      >
        Interface
      </button>
      <input type="number" name="attr_role_netrunner" value="0" min="0" />
      <div class="rulebook-reference">See full rules on p.147</div>
    </div>
  </div>
  <div class="role-pane role-nomad">
    <h4 class="clipped-corner">Nomad</h4>
    <div class="role-ability">
      Nomad role ability: Moto
      <input type="number" name="attr_role_nomad" value="0" min="0" />
      <div class="rulebook-reference">See full rules on p.161-165</div>
    </div>
    <div class="subdivider">
      <div class="columns" style="padding-bottom: 1rem">
        <div class="column">
          <button
            type="roll"
            value="&{template:skill}{{charactername=@{character_name}}} {{header=Drive Land Vehicle}} {{skillname=Drive Land Vehicle}} {{skillvalue=@{skill_landvehicle}}} {{statname=ref}} {{statvalue=@{stat_ref}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{skill_landvehicle} + @{stat_ref} + @{role_nomad} + @{armor_penalty} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
          >
            Drive Land Vehicle <span name="attr_skill_landvehicle"></span>
            <span style="font-size: 1rem"
              >(REF <span name="attr_stat_ref"></span> + MOTO
              <span name="attr_role_nomad"></span>)</span
            >
          </button>
        </div>
        <div class="column">
          <button
            type="roll"
            value="&{template:skill}{{charactername=@{character_name}}} {{header=Pilot Air Vehicle}} {{skillname=Pilot Air Vehicle}} {{skillvalue=@{skill_airvehicle}}} {{statname=ref}} {{statvalue=@{stat_ref}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{skill_airvehicle} + @{stat_ref} + @{role_nomad} + @{armor_penalty} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
          >
            Pilot Air Vehicle <span name="attr_skill_airvehicle"></span>
            <span style="font-size: 1rem"
              >(REF <span name="attr_stat_ref"></span> + MOTO
              <span name="attr_role_nomad"></span>)</span
            >
          </button>
        </div>
        <div class="column">
          <button
            type="roll"
            value="&{template:skill}{{charactername=@{character_name}}} {{header=Pilot Sea Vehicle}} {{skillname=Pilot Sea Vehicle}} {{skillvalue=@{skill_seavehicle}}} {{statname=ref}} {{statvalue=@{stat_ref}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{skill_seavehicle} + @{stat_ref} + @{role_nomad} + @{armor_penalty} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
          >
            Pilot Sea Vehicle <span name="attr_skill_seavehicle"></span>
            <span style="font-size: 1rem"
              >(REF <span name="attr_stat_ref"></span> + MOTO
              <span name="attr_role_nomad"></span>)</span
            >
          </button>
        </div>
      </div>
      <div class="columns" style="padding-bottom: 1rem">
        <div class="column">
          <button
            type="roll"
            value="&{template:skill}{{charactername=@{character_name}}} {{header=Air Vehicle Tech}} {{skillname=Air Vehicle Tech}} {{skillvalue=@{skill_airvehicletech}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{skill_airvehicletech} + @{stat_tech} + @{role_nomad} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
          >
            Air Vehicle Tech <span name="attr_skill_airvehicletech"></span>
            <span style="font-size: 1rem"
              >(TECH <span name="attr_stat_tech"></span> + MOTO
              <span name="attr_role_nomad"></span>)</span
            >
          </button>
        </div>
        <div class="column">
          <button
            type="roll"
            value="&{template:skill}{{charactername=@{character_name}}} {{header=Land Vehicle Tech}} {{skillname=Land Vehicle Tech}} {{skillvalue=@{skill_landvehicletech}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{skill_landvehicletech} + @{stat_tech} + @{role_nomad} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
          >
            Land Vehicle Tech <span name="attr_skill_landvehicletech"></span>
            <span style="font-size: 1rem"
              >(TECH <span name="attr_stat_tech"></span> + MOTO
              <span name="attr_role_nomad"></span>)</span
            >
          </button>
        </div>
        <div class="column">
          <button
            type="roll"
            value="&{template:skill}{{charactername=@{character_name}}} {{header=Sea Vehicle Tech}} {{skillname=Sea Vehicle Tech}} {{skillvalue=@{skill_seavehicletech}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{skill_seavehicletech} + @{stat_tech} + @{role_nomad} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
          >
            Sea Vehicle Tech <span name="attr_skill_seavehicletech"></span>
            <span style="font-size: 1rem"
              >(TECH <span name="attr_stat_tech"></span> + MOTO
              <span name="attr_role_nomad"></span>)</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="role-pane role-rockerboy">
    <h4 class="clipped-corner">Rockerboy</h4>
    <div class="role-ability">
      Rockerboy role ability:
      <button
        class="role-button"
        type="roll"
        value="&{template:roleability} {{charactername=@{character_name}}} {{rolename=Rockerboy}} {{abilityname=Charismatic Impact}} {{roll=[[1d10 + @{role_rocker} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
      >
        Charismatic Impact
      </button>
      <input type="number" name="attr_role_rocker" value="0" min="0" />
      <div class="rulebook-reference">See full rules on p.144-145</div>
    </div>
  </div>
  <div class="role-pane role-solo">
    <h4 class="clipped-corner">Solo</h4>
    <div class="role-ability">
      Solo role ability: Combat Awareness
      <input type="number" name="attr_role_solo" value="0" min="0" />
      <div class="rulebook-reference">See full rules on p.146</div>
    </div>
    <div class="subdivider">
      <div class="columns">
        <div class="column center">
          Damage Deflection
          <input
            type="number"
            name="attr_role_solo_damagedeflection"
            value="0"
            min="0"
          />
        </div>
        <div class="column center">
          Fumble Recovery
          <input
            type="number"
            name="attr_role_solo_fumblerecovery"
            value="0"
            min="0"
          />
        </div>
        <div class="column center">
          Initiative Reaction
          <input
            type="number"
            name="attr_role_solo_initiativereaction"
            value="0"
            min="0"
          />
        </div>
        <div class="column center">
          Precision Attack
          <input
            type="number"
            name="attr_role_solo_precisionattack"
            value="0"
            min="0"
          />
        </div>
        <div class="column center">
          Spot Weakness
          <input
            type="number"
            name="attr_role_solo_spotweakness"
            value="0"
            min="0"
          />
        </div>
        <div class="column center">
          Threat Detection
          <input
            type="number"
            name="attr_role_solo_threatdetection"
            value="0"
            min="0"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="role-pane role-tech">
    <h4 class="clipped-corner">Tech</h4>
    <div class="role-ability">
      Tech role ability: Maker
      <input type="number" name="attr_role_tech" value="0" min="0" />
      <div class="rulebook-reference">See full rules on p.147-149</div>
    </div>
    <div class="subdivider">
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column column-3">
              <button
                class="role-button"
                type="roll"
                value="&{template:skill} {{charactername=@{character_name}}} {{skillname=Maker: Field Expertise}} {{skillvalue=@{role_tech_field}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_tech_field} + @{role_tech_field_skill} + @{stat_tech} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
              >
                Field Expertise
              </button>
            </div>
            <div class="column">
              <input
                type="number"
                name="attr_role_tech_field"
                value="0"
                min="0"
              />
            </div>
          </div>
          <div>
            <select name="attr_role_tech_field_skill">
              <option value="@{skill_airevehicletech}">Air Vehicle Tech</option>
              <option value="@{skill_basictech}">Basic Tech</option>
              <option value="@{skill_cybertech}">Cybertech</option>
              <option value="@{skill_electronicssecurity}">
                Electronics/Security Tech
              </option>
              <option value="@{skill_landvehicletech}">
                Land Vehicle Tech
              </option>
              <option value="@{skill_seavehicletech}">Sea Vehicle Tech</option>
              <option value="@{skill_weaponstech}">Weaponstech</option>
            </select>
          </div>
        </div>
        <div class="column">
          <div class="columns">
            <div class="column column-3">
              <button
                class="role-button"
                type="roll"
                value="&{template:skill} {{charactername=@{character_name}}} {{skillname=Maker: Upgrade Expertise}} {{skillvalue=@{role_tech_upgrade}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_tech_upgrade} + @{role_tech_upgrade_skill} + @{stat_tech} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
              >
                Upgrade Expertise
              </button>
            </div>
            <div class="column">
              <input
                type="number"
                name="attr_role_tech_upgrade"
                value="0"
                min="0"
              />
            </div>
          </div>
          <div>
            <select name="attr_role_tech_upgrade_skill">
              <option value="@{skill_airevehicletech}">Air Vehicle Tech</option>
              <option value="@{skill_basictech}">Basic Tech</option>
              <option value="@{skill_cybertech}">Cybertech</option>
              <option value="@{skill_electronicssecurity}">
                Electronics/Security Tech
              </option>
              <option value="@{skill_landvehicletech}">
                Land Vehicle Tech
              </option>
              <option value="@{skill_seavehicletech}">Sea Vehicle Tech</option>
              <option value="@{skill_weaponstech}">Weaponstech</option>
            </select>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column column-3">
              <button
                class="role-button"
                type="roll"
                value="&{template:skill} {{charactername=@{character_name}}} {{skillname=Maker: Fabrication Expertise}} {{skillvalue=@{role_tech_fabrication}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_tech_fabrication} + @{role_tech_fabrication_skill} + @{stat_tech} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
              >
                Fabrication Expertise
              </button>
            </div>
            <div class="column">
              <input
                type="number"
                name="attr_role_tech_fabrication"
                value="0"
                min="0"
              />
            </div>
          </div>
          <div>
            <select name="attr_role_tech_fabrication_skill">
              <option value="@{skill_airevehicletech}">Air Vehicle Tech</option>
              <option value="@{skill_basictech}">Basic Tech</option>
              <option value="@{skill_cybertech}">Cybertech</option>
              <option value="@{skill_electronicssecurity}">
                Electronics/Security Tech
              </option>
              <option value="@{skill_landvehicletech}">
                Land Vehicle Tech
              </option>
              <option value="@{skill_seavehicletech}">Sea Vehicle Tech</option>
              <option value="@{skill_weaponstech}">Weaponstech</option>
            </select>
          </div>
        </div>
        <div class="column">
          <div class="columns">
            <div class="column column-3">
              <button
                class="role-button"
                type="roll"
                value="&{template:skill} {{charactername=@{character_name}}} {{skillname=Maker: Invention Expertise}} {{skillvalue=@{role_tech_invention}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_tech_invention} + @{role_tech_invention_skill} + @{stat_tech} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
              >
                Invention Expertise
              </button>
            </div>
            <div class="column">
              <input
                type="number"
                name="attr_role_tech_invention"
                value="0"
                min="0"
              />
            </div>
          </div>
          <div>
            <select name="attr_role_tech_invention_skill">
              <option value="@{skill_airevehicletech}">Air Vehicle Tech</option>
              <option value="@{skill_basictech}">Basic Tech</option>
              <option value="@{skill_cybertech}">Cybertech</option>
              <option value="@{skill_electronicssecurity}">
                Electronics/Security Tech
              </option>
              <option value="@{skill_landvehicletech}">
                Land Vehicle Tech
              </option>
              <option value="@{skill_seavehicletech}">Sea Vehicle Tech</option>
              <option value="@{skill_weaponstech}">Weaponstech</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
