<div class="section-role">
  <input type="hidden" name="attr_role" />
  <div class="role-pane role-exec">
    <h4 class="clipped-corner">Exec</h4>
    <div class="role-ability">
      Teamwork
      <input type="number" name="attr_role_exec" />
    </div>
  </div>
  <div class="role-pane role-fixer">
    <h4 class="clipped-corner">Fixer</h4>
    <div class="role-ability">
      Operator
      <input type="number" name="attr_role_fixer" />
    </div>
  </div>
  <div class="role-pane role-lawman">
    <h4 class="clipped-corner">Lawman</h4>
    <div class="role-ability">
      Backup
      <input type="number" name="attr_role_lawman" />
    </div>
  </div>
  <div class="role-pane role-media">
    <h4 class="clipped-corner">Media</h4>
    <div class="role-ability">
      Credibility
      <input type="number" name="attr_role_media" />
    </div>
  </div>
  <div class="role-pane role-medtech">
    <h4 class="clipped-corner">Medtech</h4>
    <div class="role-ability">
      Medicine
      <input type="number" name="attr_role_medtech" />
    </div>
    <div class="columns">
      <div class="column">
        Surgery<input type="number" name="attr_role_medtech_surgery" />
      </div>
      <div class="column">
        Pharmaceuticals<input
          type="number"
          name="attr_role_medtech_pharmaceuticals"
        />
      </div>
      <div class="column">
        Cryosystem Operation<input
          type="number"
          name="attr_role_medtech_cryosystem"
        />
      </div>
    </div>
  </div>
  <div class="role-pane role-netrunner">
    <h4 class="clipped-corner">Netrunner</h4>
    <div class="role-ability">
      <button class="role-button" type="roll">Interface</button>
      <input type="number" name="attr_role_netrunner" />
    </div>
  </div>
  <div class="role-pane role-nomad">
    <h4 class="clipped-corner">Nomad</h4>
    <div class="role-ability">
      <button class="role-button" type="roll">Moto</button>
      <input type="number" name="attr_role_nomad" />
    </div>
  </div>
  <div class="role-pane role-rockerboy">
    <h4 class="clipped-corner">Rockerboy</h4>
    <div class="role-ability">
      Rockerboy role ability:
      <button
        class="role-button"
        type="roll"
        value="&{template:roleability} {{charactername=@{charactername}}} {{rolename=Rockerboy}} {{abilityname=Charismatic Impact}} {{roll=[[1d10 + @{role_rocker} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
      >
        Charismatic Impact
      </button>
      <input type="number" name="attr_role_rocker" />
      <div class="rulebook-reference">See full rules on p.144-145</div>
    </div>
  </div>
  <div class="role-pane role-solo">
    <h4 class="clipped-corner">Solo</h4>
    <div class="role-ability">
      Combat Awareness
      <input type="number" name="attr_role_solo" />
    </div>
    <div class="columns">
      <div class="column">
        Damage Deflection<input
          type="number"
          name="attr_role_solo_damagedeflection"
        />
      </div>
      <div class="column">
        Fumble Recovery<input
          type="number"
          name="attr_role_solo_fumblerecovery"
        />
      </div>
      <div class="column">
        Initiative Reaction<input
          type="number"
          name="attr_role_solo_initiativereaction"
        />
      </div>
      <div class="column">
        Precision Attack<input
          type="number"
          name="attr_role_solo_precisionattack"
        />
      </div>
      <div class="column">
        Spot Weakness<input type="number" name="attr_role_solo_spotweakness" />
      </div>
      <div class="column">
        Threat Detection<input
          type="number"
          name="attr_role_solo_threatdetection"
        />
      </div>
    </div>
  </div>
  <div class="role-pane role-tech">
    <h4 class="clipped-corner">Tech</h4>
    <div class="role-ability">
      Tech role ability: Maker
      <input type="number" name="attr_role_tech" />
      <div class="rulebook-reference">See full rules on p.147-149</div>
    </div>
    <div class="subdivider">
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column column-3">
              <button
                class="role-button"
                type="roll"
                value="&{template:skill} {{charactername=@{charactername}}} {{skillname=Maker: Field Expertise}} {{skillvalue=@{role_tech_field}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_tech_field} + @{role_tech_field_skill} + @{stat_tech} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
              >
                Field Expertise
              </button>
            </div>
            <div class="column">
              <input type="number" name="attr_role_tech_field" />
            </div>
          </div>
          <div>
            <select name="attr_role_tech_field_skill">
              <option value="@{skill_airevehicletech}">Air Vehicle Tech</option>
              <option value="@{skill_basictech}">Basic Tech</option>
              <option value="@{skill_cybertech}">Cybertech</option>
              <option value="@{skill_electronicssecurity}">
                Electronics/Security Tech
              </option>
              <option value="@{skill_landvehicletech}">
                Land Vehicle Tech
              </option>
              <option value="@{skill_seavehicletech}">Sea Vehicle Tech</option>
              <option value="@{skill_weaponstech}">Weaponstech</option>
            </select>
          </div>
        </div>
        <div class="column">
          <div class="columns">
            <div class="column column-3">
              <button
                class="role-button"
                type="roll"
                value="&{template:skill} {{charactername=@{charactername}}} {{skillname=Maker: Upgrade Expertise}} {{skillvalue=@{role_tech_upgrade}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_tech_upgrade} + @{role_tech_upgrade_skill} + @{stat_tech} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
              >
                Upgrade Expertise
              </button>
            </div>
            <div class="column">
              <input type="number" name="attr_role_tech_upgrade" />
            </div>
          </div>
          <div>
            <select name="attr_role_tech_upgrade_skill">
              <option value="@{skill_airevehicletech}">Air Vehicle Tech</option>
              <option value="@{skill_basictech}">Basic Tech</option>
              <option value="@{skill_cybertech}">Cybertech</option>
              <option value="@{skill_electronicssecurity}">
                Electronics/Security Tech
              </option>
              <option value="@{skill_landvehicletech}">
                Land Vehicle Tech
              </option>
              <option value="@{skill_seavehicletech}">Sea Vehicle Tech</option>
              <option value="@{skill_weaponstech}">Weaponstech</option>
            </select>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="columns">
            <div class="column column-3">
              <button
                class="role-button"
                type="roll"
                value="&{template:skill} {{charactername=@{charactername}}} {{skillname=Maker: Fabrication Expertise}} {{skillvalue=@{role_tech_fabrication}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_tech_fabrication} + @{role_tech_fabrication_skill} + @{stat_tech} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
              >
                Fabrication Expertise
              </button>
            </div>
            <div class="column">
              <input type="number" name="attr_role_tech_fabrication" />
            </div>
          </div>
          <div>
            <select name="attr_role_tech_fabrication_skill">
              <option value="@{skill_airevehicletech}">Air Vehicle Tech</option>
              <option value="@{skill_basictech}">Basic Tech</option>
              <option value="@{skill_cybertech}">Cybertech</option>
              <option value="@{skill_electronicssecurity}">
                Electronics/Security Tech
              </option>
              <option value="@{skill_landvehicletech}">
                Land Vehicle Tech
              </option>
              <option value="@{skill_seavehicletech}">Sea Vehicle Tech</option>
              <option value="@{skill_weaponstech}">Weaponstech</option>
            </select>
          </div>
        </div>
        <div class="column">
          <div class="columns">
            <div class="column column-3">
              <button
                class="role-button"
                type="roll"
                value="&{template:skill} {{charactername=@{charactername}}} {{skillname=Maker: Invention Expertise}} {{skillvalue=@{role_tech_invention}}} {{statname=tech}} {{statvalue=@{stat_tech}}} {{finalmodifier=@{finalmodifier}}} {{roll=[[1d10 + @{role_tech_invention} + @{role_tech_invention_skill} + @{stat_tech} + @{finalmodifier}]]}} {{critroll=[[1d10]]}}"
              >
                Invention Expertise
              </button>
            </div>
            <div class="column">
              <input type="number" name="attr_role_tech_invention" />
            </div>
          </div>
          <div>
            <select name="attr_role_tech_invention_skill">
              <option value="@{skill_airevehicletech}">Air Vehicle Tech</option>
              <option value="@{skill_basictech}">Basic Tech</option>
              <option value="@{skill_cybertech}">Cybertech</option>
              <option value="@{skill_electronicssecurity}">
                Electronics/Security Tech
              </option>
              <option value="@{skill_landvehicletech}">
                Land Vehicle Tech
              </option>
              <option value="@{skill_seavehicletech}">Sea Vehicle Tech</option>
              <option value="@{skill_weaponstech}">Weaponstech</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
