<rolltemplate class="sheet-rolltemplate-skill">
  <div class="cpredroll">
    <h4 class="clipped-corner">{{ charactername }}</h4>
    <table>
      <tbody>
        <!-- skill -->
        <tr>
          <th scope="row">{{ skillname }}</th>
          <td>{{ skillvalue }}</td>
        </tr>
        <!-- stat -->
        <tr>
          <th scope="row">
            <span style="text-transform: uppercase">{{ statname }}</span>
          </th>
          <td>{{ statvalue }}</td>
        </tr>
        <!-- Special stuff -->
        {{#specialmodifier}}
        <tr>
          <th scope="row">{{ specialname }}</th>
          <td>{{ specialmodifier }}</td>
        </tr>
        {{/specialmodifier}}
        <!-- modifiers -->
        {{#finalmodifier}}
        <tr>
          <th scope="row">Modifiers</th>
          <td>{{ finalmodifier }}</td>
        </tr>
        {{/finalmodifier}}
      </tbody>
      <tfoot>
        <!-- Roll -->
        <tr class="outcome">
          <th scope="row">Outcome</th>
          <td>{{ roll }}</td>
        </tr>
        <!-- CRIT Success -->
        {{#rollWasCrit() roll}}
        <tr class="crit">
          <th scope="row">Critical Success</th>
          <td>Add {{ critroll }} to roll</td>
        </tr>
        {{/rollWasCrit() roll}}
        <!-- CRIT Fail -->
        {{#rollWasFumble() roll}}
        <tr class="crit">
          <th scope="row">Critical Failure</th>
          <td>Subtract {{ critroll }} from roll</td>
        </tr>
        {{/rollWasFumble() roll}}
      </tfoot>
    </table>
  </div>
</rolltemplate>

<!-- 
    <div class="character">
      {{#charactername}}{{ charactername }}{{/charactername}}
    </div>
    <div class="header">{{#header}}{{ header }}{{/header}}</div>
    <div class="roll">{{ roll }}</div>

    {{#rollWasCrit() roll}}
    <div class="crit">CRITICAL SUCCESS! Add {{ critroll }} to roll</div>
    {{/rollWasCrit() roll}}

    {{#rollWasFumble() roll}}
    <div class="fail">CRITICAL FAILURE! Subtract {{ critroll }} from roll</div>
    {{/rollWasFumble() roll}} {{#footer}}
    <div class="footer">{{ footer }}</div>
    {{/footer}} -->
