<!-- Roll template: Skill -->
<rolltemplate class="sheet-rolltemplate-skill">
  <div class="{{ templatecolor }}">
    <div>(skill roll)</div>
    <div class="character">
      {{#charactername}}{{ charactername }}{{/charactername}}
    </div>
    <div class="header">{{#header}}{{ header }}{{/header}}</div>
    <div class="roll">{{ roll }}</div>
    {{#rollWasCrit() roll}}
    <div class="crit">CRITICAL SUCCESS! Add {{ critroll }} to roll</div>
    {{/rollWasCrit() roll}} {{#rollWasFumble() roll}}
    <div class="fail">CRITICAL FAILURE! Subtract {{ critroll }} from roll</div>
    {{/rollWasFumble() roll}} {{#footer}}
    <div class="footer">{{ footer }}</div>
    {{/footer}}
  </div>
</rolltemplate>
