.sheet-columns {
  display: flex;
  & > .sheet-column {
    flex: 1;
    padding: 0 0.5rem;
  }
  & > .sheet-column-2 {
    flex: 2;
  }
  & > .sheet-column-3 {
    flex: 3;
  }
  & > .sheet-column-4 {
    flex: 4;
  }
  & > .sheet-column-5 {
    flex: 5;
  }
  & > .sheet-column-6 {
    flex: 6;
  }
  & > .sheet-column-7 {
    flex: 7;
  }
  & > .sheet-column-8 {
    flex: 8;
  }
  & > .sheet-column-9 {
    flex: 9;
  }
  & > .sheet-column:first-child {
    padding-left: 0;
  }
  & > .sheet-column:last-child {
    padding-right: 0;
  }
}
