/**
 * Tab configuration variables.
 */
$tabHeight: 3rem;
$tabWidth: 100px;
$tabFontSize: 1.2rem;
$tabPadding: 0.5rem 0.5rem 0;
$tabColor: $cpRed;

.sheet-tabbed {
  text-align: center;
  span.sheet-tab {
    background-color: black;
    border: 3px solid $tabColor;
    border-bottom: none;
    box-sizing: border-box;
    color: white;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    height: $tabHeight;
    margin-left: -1 * $tabWidth;
    padding: $tabPadding;
    text-align: center;
    text-transform: uppercase;
    width: $tabWidth;
  }
  input.sheet-tab {
    box-sizing: border-box;
    height: $tabHeight;
    opacity: 0;
    padding: $tabPadding;
    position: relative;
    width: $tabWidth;
    z-index: 9999;
  }
  input.sheet-tab:checked + span.sheet-tab {
    border-color: $tabColor;
    color: black;
    background-color: white;
    position: relative;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -1px;
      left: -1px;
      width: 0;
      height: 0;
      overflow: hidden;
      border: 5px solid transparent;
      border-left-color: $tabColor;
      border-top-color: $tabColor;
    }
  }
  .sheet-tab-content {
    background-color: $tabColor;
    border: 1px solid $tabColor;
    display: none;
    margin-top: -1px; // This sucks and I hate it. -MR
    padding: 1rem;
    text-align: left;
  }
  input.sheet-tab1:checked ~ div.sheet-tab1,
  input.sheet-tab2:checked ~ div.sheet-tab2,
  input.sheet-tab3:checked ~ div.sheet-tab3,
  input.sheet-tab4:checked ~ div.sheet-tab4,
  input.sheet-tab5:checked ~ div.sheet-tab5,
  input.sheet-tab6:checked ~ div.sheet-tab6,
  input.sheet-tab7:checked ~ div.sheet-tab7,
  input.sheet-tab8:checked ~ div.sheet-tab8,
  input.sheet-tab9:checked ~ div.sheet-tab9,
  input.sheet-tab10:checked ~ div.sheet-tab10 {
    display: block;
  }
}
