/**
 * Fonts...
 */
// @import url(https://fonts.googleapis.com/css?family=Orbitron&display=swap);
/**
 * Things that are broken out into easier to digest files...
 */
@import 'config';
@import 'accordions';
@import 'columns';
@import 'tabs';
@import 'corner';
/**
 * Import CSS specific to character sheet components.
 */
@import '../components/attributes/attributes';
@import '../components/character-info/character-info';
@import '../components/combat/combat';
@import '../components/cyberware/cyberware';
@import '../components/dice-roller/dice-roller';
@import '../components/empathy/empathy';
@import '../components/gear/gear';
@import '../components/hit-points/hit-points';
@import '../components/humanity/humanity';
@import '../components/improvement-points/improvement-points';
@import '../components/lifepath/lifepath';
@import '../components/luck/luck';
@import '../components/modifiers/modifiers';
@import '../components/reputation/reputation';
@import '../components/role/role';
@import '../components/settings/settings';
@import '../components/skills/skills';
/**
 * Import CSS for roll templates
 */
@import 'rolltemplates';
@import '../components/rolltemplates/attack/attack';
@import '../components/rolltemplates/basic/basic';
@import '../components/rolltemplates/damage/damage';
@import '../components/rolltemplates/death-save/death-save';
@import '../components/rolltemplates/skill/skill';

.charsheet {
  color: $text;
  margin: 0 !important;
  padding: 0 !important;
  width: 860px;
  h3 {
    color: white;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  h4 {
    background-color: black;
    border-bottom: 0.5rem solid $cpRed;
    color: white;
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    button {
      background: $text !important;
      border: none !important;
      border-radius: 0.25rem !important;
      padding: 0 0.5rem !important;
      font-size: 9px !important;
      margin-left: 0.5rem !important;
      text-transform: uppercase !important;
      top: -2px !important;
      position: relative !important;
      text-shadow: none;
    }
    input[type='number'] {
      font-size: 1.2rem;
      margin-left: 0.5rem;
      height: 1.5rem;
      position: relative;
      top: -2px;
    }
  }
  button[type='roll'] {
    margin: 0 !important;
  }
  select {
    max-width: 100%;
    min-width: 5rem;
  }
  textarea {
    box-sizing: border-box;
    height: 5em;
    margin: 0;
    padding: 0.5rem;
    resize: none;
    width: 100%;
  }
  .sheet-narrow {
    width: 7.5rem;
  }
  .sheet-faux-button {
    background-color: $text;
    border-radius: 0.25rem;
    border-style: none;
    display: inline-block;
    font-size: 1rem !important;
    margin-left: 0.5rem;
    padding: 0.2rem 1rem;
    position: relative;
    input[type='checkbox'] {
      border-style: none;
      bottom: 0;
      display: block;
      height: 100%;
      left: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100% !important;
      z-index: 3;
    }
  }
}
.sheet-center {
  text-align: center;
}
.sheet-field-wrapper {
  background-color: white;
  padding: 1rem;
}
.sheet-accent-font {
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}
button.sheet-button-plain {
  background: transparent;
  border-style: none !important;
  box-shadow: none;
  font-size: 1.3rem !important;
  margin: 0;
  padding: 0;
  &:before {
    margin-right: 0.5rem;
  }
}
ul.sheet-list-plain {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
}
