<!-- Roll template: Basic -->
<rolltemplate class="sheet-rolltemplate-basic">
  <div class="cpredroll">
    <h4>{{ charactername }}</h4>
    <table>
      <tbody>
        <tr>
          <th scope="row">Rolls {{ dice }}</th>
          <td>{{ roll }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</rolltemplate>
