<!-- Roll template: Basic -->
<rolltemplate class="sheet-rolltemplate-basic">
  <div class="{{ templatecolor }}">
    <div>(basic roll)</div>
    <div class="character">
      {{#charactername}}{{ charactername }}{{/charactername}}
    </div>
    <div class="header">{{#header}}{{ header }}{{/header}}</div>
    <div class="roll">{{ roll }}</div>
    {{#footer}}
    <div class="footer">{{ footer }}</div>
    {{/footer}}
  </div>
</rolltemplate>
