<div class="section-settings">
  <h3 class="accent-font">Settings</h3>
  <div class="setting-color">
    <h4 class="accent-font">Color</h4>
    <select name="attr_templatecolor">
      <option value="black">Black</option>
      <option value="red">Red</option>
      <option value="blue">Blue</option>
      <option value="green">Green</option>
      <option value="brown">Brown</option>
    </select>
  </div>
</div>
