<div class="section-attributes">
  <div class="columns">
    <% attributes.forEach(function(attribute) { %>
    <div class="column clipped-corner">
      <span class="accent-font"><%= attribute.name %></span>
      <input type="number" name="attr_<%= attribute.field %>" />
    </div>
    <% }) %>
  </div>
</div>
