.sheet-rolltemplate-damage {
  .sheet-cpredroll {
    background-color: white;
    border: 1rem solid $cpRed;
    h4 {
      background-color: black;
      border-bottom: 0.5rem solid $cpRed;
      color: white;
      margin: 0;
      padding: 0.5rem 1rem;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: -1px;
        left: -1px;
        width: 0;
        height: 0;
        overflow: hidden;
        border: 5px solid transparent;
        border-left-color: $cpRed;
        border-top-color: $cpRed;
      }
    }
    h5 {
      border-bottom: 1px solid $cpRed;
      padding: 0.5rem 1rem;
      text-align: center;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      background-color: $offWhite;
    }
  }
  table {
    width: 100%;
    td,
    th {
      box-sizing: border-box;
      padding: 1rem;
      vertical-align: top;
    }
    th {
      width: 50%;
    }
    tbody {
      tr {
        &:nth-child(even) {
          & > * {
            background-color: $offWhite;
          }
        }
      }
    }
    tfoot {
      tr:first-child {
        th,
        td {
          border-top: 0.5rem solid $cpRed;
        }
      }
    }
  }
}
