<!-- Roll template: Combat - Damage -->
<rolltemplate class="sheet-rolltemplate-damage">
  <div class="cpredroll">
    <h4>{{ charactername }}</h4>
    <h5>Damage</h5>
    <table>
      <tbody>
        <tr>
          <th>Weapon</th>
          <td>{{ weaponname }}</td>
        </tr>
        <tr>
          <th>Damage</th>
          <td>{{ weapondamage }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th>Damage</th>
          <td>{{ roll }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</rolltemplate>
