<!-- Roll template: Combat - Damage -->
<rolltemplate class="sheet-rolltemplate-damage">
  <div class="{{ templatecolor }}">
    <div class="character">
      {{#charactername}}{{ charactername }}{{/charactername}}
    </div>
    <div class="header">{{#header}}{{ header }}{{/header}}</div>
    <div class="roll">{{ roll }}</div>
    {{#footer}}
    <div class="footer">{{ footer }}</div>
    {{/footer}}
  </div>
</rolltemplate>
